@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 1.5;
  color: #defaf8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  margin: 0;
  padding: 2rem;
  background: black;
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: red;
}

.movies-category {
  max-width: 85rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #2a4e53;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
}

.movies-category h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
}

.movies {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 2.5rem;
  margin: 2rem auto;
  padding: 0;
  list-style: none;
}

.movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #1f1c2c;
  transition: transform 0.3s ease;
}

.movie-item button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.movie-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.movie-item h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.75rem;
  color: #defaf8;
  text-align: center;
}


.movie-rating {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: #feee86;
  color: #1f1c2c;
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border: 2px solid #1f1c2c;
}

.movie-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}